{% extends 'base.html.twig' %}
        {% block body %}
<p>
                Table of Contents

                Random testing and built-in self-test; models for digital circuits and fault models; basic concepts and test generation methods; performance meas
                urements for a test sequence; basic principles of random testing; random test length for combinational circuits; random test length for sequential circuits;
                random test length for RAMs; random test length for microprocessors; generation of random test sequences; experimental results; signature analysis; design for
                random testability; appendices - A - random pattern sources, B - calculation of a probability of complete fault coverage, C - finite Markov chains, D - black
                -box fault model, E - exact calculation of activities, F - comparing asynchronous and synchronous test, G - proofs of properties 7.1, 7.2 and 12.3, H - micr
                oprocessor Motorola 6800, I - pseudorandom testing, J - random testing of delay faults, K - subsequences of required lengths, L - diagnosis from random testin
                g, M - conjecture about multiple faults; exercises; solutions to exercises.
</p>
        {% endblock %}

