{% extends 'base.html.twig' %}


{% block side %}
{% endblock %}
{% block body %}

    <h1>Artical</h1>

    <i class="fas fa-heading">another title</i>
<h2><td>{{ artical.id }}</td></h2>

                <p>{{ artical.content }}
    <div class="float-end">
        <i class="fa fa-calendar" aria-hidden="true">
            <td>{{ artical.datePublish ? artical.datePublish|date('Y-m-d H:i:s') : '' }}</td>
        </i></div>
    </p>




<br>  <br> <br>
{% endblock %}
{% block footer %}{% endblock %}